<h1>NY Times, Simplified</h1>

    <div id="wrapper">

      <h2>Recent Articles</h2>

      <div id="articles">{{#each Article}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="saveArticle" value="false">
          <button type="submit">Save Article</button>
        </form>
      </div>

      <div id="comment">{{#each Comment}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="textarea" name="addcomment">
          <button type="submit">Leave Comment</button>
        </form>
      </div>

      {{/each}}
      {{/each}}
    </div>
